<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lilita+One&display=swap" rel="stylesheet">
    <style>
        body {background-image: url("https://danilo-patrucco.github.io/Final_project_IS117/images/bckground.jpeg");}
    </style>

    <title>
        {% if page.title %}
        {{ page.title }}
        {% else %}
        {{ site.name }} &mdash; {{ site.description }}
        {% endif %}
    </title>
</head>

<body>
{% include header.html %}
<div class="container">
    <div class="row">
        <div class="col-sm-12" style="padding-top: 30px">
        </div>
    </div>
</div>

{{content}}
{% include footer.html %}
</body>
</html>

